<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - WebAuthnSample</title>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true">
</head>
<body>

<partial name="_NavigationBar"/>

@RenderBody()

<script src="~/js/shared.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>